@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Importing DM Serif Text (titles) and DM Sans (body). */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1');

@plugin '@tailwindcss/typography';

:root {
  /* Disable default page view transitions. */
  view-transition-name: none;
  /* Height of the navbar. */
  --navbar-height: 6rem;
  /* Variables related to the logo animation. */
  --logo-width: 67px;
  --logo-height: 80px;
  --logo-vertical-offset: -10vh;
  --logo-m-vertical-offset: -14.2px;
  --logo-pol-vertical-offset: -46.3px;
  --logo-m-horizontal-offset: -109.4px;
  --logo-pol-horizontal-offset: 46.32px;
  --logo-delay: 0.2s;
  --logo-duration: 2s;
  --logo-foreground-delay: 1.6s;
  --bg-delay: 1.2s;
  --bg-translate-x: 0;
  --bg-translate-y: 0;
  --bg-rotate: 0;
}

html,
body {
  height: 100%;
}

::selection {
  background-color: rgba(54, 82, 29, 0.273);
}

/* Animations. */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  opacity: 0;
  animation: fade-in ease-in-out 0.6s forwards;
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-top {
  opacity: 0;
  animation: fade-in-top ease-in-out 0.6s forwards;
}

.animate-logo {
  color: #283f13; /* This is text-primary. */
  font-family: 'DM Serif Text', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  height: var(--logo-height);
  left: 50%;
  line-height: 2rem;
  margin-left: calc(var(--logo-width) / -2);
  margin-top: calc((var(--logo-height) / -2) - var(--logo-vertical-offset));
  position: fixed;
  top: 33.333333%;
  width: var(--logo-width);
}

.animate-logo > *:first-child {
  opacity: 0;
  display: block;
  animation: var(--logo-duration) move-letter-m ease-in-out var(--logo-delay) forwards;
}

.animate-logo > *:last-child {
  opacity: 0;
  display: block;
  animation: var(--logo-duration) move-letters-pol ease-in-out var(--logo-delay) forwards;
}

.animate-logo-bg {
  opacity: 0;
  animation: 0.6s fade-in ease-in-out var(--logo-foreground-delay) forwards;
}

@keyframes move-letter-m {
  0% {
    opacity: 0;
    transform: scale(110%);
  }
  45% {
    opacity: 1;
    transform: translate(0, 0) scale(110%);
  }
  80% {
    opacity: 1;
    transform: translate(
      var(--logo-m-horizontal-offset),
      calc(var(--logo-vertical-offset) + var(--logo-m-vertical-offset))
    );
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(
      var(--logo-m-horizontal-offset),
      calc(var(--logo-vertical-offset) + var(--logo-m-vertical-offset))
    );
  }
}

@keyframes move-letters-pol {
  0% {
    opacity: 0;
    transform: scale(110%);
  }
  45% {
    opacity: 1;
    transform: translate(0, 0) scale(110%);
  }
  80% {
    opacity: 1;
    transform: translate(
      var(--logo-pol-horizontal-offset),
      calc(var(--logo-vertical-offset) + var(--logo-pol-vertical-offset))
    );
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(
      var(--logo-pol-horizontal-offset),
      calc(var(--logo-vertical-offset) + var(--logo-pol-vertical-offset))
    );
  }
}

.animate-bg {
  opacity: 0;
  animation: 0.6s move-from-tl ease-in-out var(--bg-delay) forwards;
}

.animate-bg-tl {
  --bg-translate-x: -20px;
  --bg-translate-y: -20px;
  --bg-rotate: -40deg;
}
.animate-bg-tr {
  --bg-translate-x: 20px;
  --bg-translate-y: -20px;
  --bg-rotate: 40deg;
}
.animate-bg-bl {
  --bg-translate-x: -20px;
  --bg-translate-y: 20px;
  --bg-rotate: 40deg;
}
.animate-bg-br {
  --bg-translate-x: 20px;
  --bg-translate-y: 20px;
  --bg-rotate: -40deg;
}

@keyframes move-from-tl {
  0% {
    transform: translate(var(--bg-translate-x), var(--bg-translate-y)) rotate(var(--bg-rotate));
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px) rotate(var(--bg-rotate));
  }
}

.animate-delay-1 {
  animation-delay: 0.1s;
}
.animate-delay-2 {
  animation-delay: 0.2s;
}
.animate-delay-3 {
  animation-delay: 0.3s;
}
.animate-delay-4 {
  animation-delay: 0.4s;
}
.animate-delay-5 {
  animation-delay: 0.5s;
}
.animate-delay-6 {
  animation-delay: 0.6s;
}

/* Miscellaneous. */

.callout {
  border-bottom: 1px solid oklch(0.872 0.01 258.338);
  padding-bottom: 1rem;
}

.callout-title {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

.callout-title::after {
  content: '';
  display: inline-block;
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 9999px;
  background-color: #4b5563;
  margin: 0 0.5rem;
}

/* Night owl code theme. Source: https://github.com/highlightjs/highlight.js/blob/main/src/styles/night-owl.css */

.hljs {
  color: #d6deeb;
}

/* General Purpose */
.hljs-keyword {
  color: #c792ea;
  font-style: italic;
}
.hljs-built_in {
  color: #addb67;
  font-style: italic;
}
.hljs-type {
  color: #82aaff;
}
.hljs-literal {
  color: #ff5874;
}
.hljs-number {
  color: #f78c6c;
}
.hljs-regexp {
  color: #5ca7e4;
}
.hljs-string {
  color: #ecc48d;
}
.hljs-subst {
  color: #d3423e;
}
.hljs-symbol {
  color: #82aaff;
}
.hljs-class {
  color: #ffcb8b;
}
.hljs-function {
  color: #82aaff;
}
.hljs-title {
  color: #dcdcaa;
  font-style: italic;
}
.hljs-params {
  color: #7fdbca;
}

/* Meta */
.hljs-comment {
  color: #637777;
  font-style: italic;
}
.hljs-doctag {
  color: #7fdbca;
}
.hljs-meta {
  color: #82aaff;
}
.hljs-meta .hljs-keyword {
  color: #82aaff;
}
.hljs-meta .hljs-string {
  color: #ecc48d;
}

/* Tags, attributes, config */
.hljs-section {
  color: #82b1ff;
}
.hljs-tag,
.hljs-name {
  color: #7fdbca;
}
.hljs-attr {
  color: #7fdbca;
}
.hljs-attribute {
  color: #80cbc4;
}
.hljs-variable {
  color: #addb67;
}

/* Markup */
.hljs-bullet {
  color: #d9f5dd;
}
.hljs-code {
  color: #80cbc4;
}
.hljs-emphasis {
  color: #c792ea;
  font-style: italic;
}
.hljs-strong {
  color: #addb67;
  font-weight: bold;
}
.hljs-formula {
  color: #c792ea;
}
.hljs-link {
  color: #ff869a;
}
.hljs-quote {
  color: #697098;
  font-style: italic;
}

/* CSS */
.hljs-selector-tag {
  color: #ff6363;
}

.hljs-selector-id {
  color: #fad430;
}

.hljs-selector-class {
  color: #addb67;
  font-style: italic;
}

.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #c792ea;
  font-style: italic;
}

/* Templates */
.hljs-template-tag {
  color: #c792ea;
}
.hljs-template-variable {
  color: #addb67;
}

/* diff */
.hljs-addition {
  color: #addb67ff;
  font-style: italic;
}

.hljs-deletion {
  color: #ef535090;
  font-style: italic;
}
